.profileContainer {
  display: flex;
  align-items: center;
}

.profileContainer > img {
  width: 6.5rem;
  height: 6.5rem;
  border-radius: 50%;
  box-shadow: 2px 2px 2px 1px rgba(255, 255, 255, 0.08);
  border: #5965e0 solid 0.2rem;
}

.profileContainer div {
  margin-left: 1.5rem;
}

.profileContainer div strong {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--white);
}

.profileContainer div p {
  font-size: 1rem;
  margin-top: 0.5rem;
  color: #fff;
}

.profileContainer div p img {
  margin-right: 0.5rem;
}

.profileContainer button {
  height: 3rem;
  width: 9rem;
}
